p {
    font-family:Arial;
    font-size: 2em;
    font-style: italic;
}

 h1{
    font-family: "Lobster", sans-serif;
    font-size: 4m;
    text-align: center;
}

h2{
    font-size: 3m;
}

img {
    width: 300px;
    height: 185px;}

.c1{
    color: black;
}

.c2{
    color: rgb(226, 43, 43);
    font-weight: 700;
}