p {
    font-family:Arial;
    font-size: 30px;
    font-style: italic;
}

 h1{
    font-family: "Lobster", sans-serif;
    font-size: 60px;
    text-align: center;
    color: darkviolet;
    padding: 100px;
    background: linear-gradient(#005AA7, #FFFDE4);
}

h2{
    font-size: 35px;
}

img {
    width: 300px;
    height: 185px;}

.c1{
    color: black;
}

.c2{
    color: rgb(226, 43, 43);
    font-weight: 700;
}

a{
    color: black;
    font-size: 30px;
}

.carre {
    width: 150px; /* Largeur du carré */
    height: 50px; /* Hauteur du carré */
    border: 2px solid #36696d; /* Bordure de 2px de large, solide et noire */
    border-radius: 10px 30px 0px 90px;
    text-align: center;
}

